.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #c99e53;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.showed{
    display: block;
}
.none{
    display: none;
}
#modalContent{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
#carritoXL{
    width: 100%;
    height:100%;
    background-color: #c99e53;
}
#carritoXL tbody {
    color: black;
}
.close{
    cursor: pointer;
    color: red;
    
}
.botones{
    width: 100%;
    display: flex;
    margin-top: 2em;
    justify-content: space-around;
    
}

.btn{
    border: 2px solid #640a4d;
    border-radius: 15px;
    background-color: transparent;
    color: #640a4d;
    font-size: 1.25em;
    cursor: pointer;
}
