body{
    background-image: url("../Images/Conmebol/Fondo.png");
    background-position: center;
    background-size: 100vw;
    
}
.banner{
    display: block;
    margin-left: auto;
    margin-right: auto  ;
}
#Conmebol{
    background: var(--blanco);
    color: var(--blanco);
    
}
#Conmebol>div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#Conmebol>div>div:last-child {
    grid-column: 2 / 3;
    grid-row: 4;
}

#Conmebol .logoPais:hover {
    cursor: pointer;
}

#Conmebol>div>div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    margin: 20px 0;
}

#Conmebol>div>div img:hover {
    transition: .35s all;
    filter: brightness(1);
    transform: scale(.9);
}

#Conmebol>div>div img {
    width: 350px;
    transition: .35s all;
    filter: brightness(.7);
    transform: scale(0.8);
}


#Conmebol .nombrePais {
    transition: .35s all;
    filter: opacity(0);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(186deg, #f4c05b 0%, #af6c37 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    /* transform: scale(0.01);
    transform-origin: center; */
}
#header{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    
}