@font-face {
    font-family: Qatar22;
    src: url("../Font/qatar-2022-font/Qatar2022-Medium.otf");
}

.menu{
    max-width: 100%;
    display: flex;
    justify-content:end;    
    flex-direction: row;
    align-items: center;
    margin-top: 2.5%;
}
.menu>div{
    width: 50%;
    display: flex;

}
.menu>div>div{
    position: relative;
    display: flex;
    align-items: center;
    width: 33%;
}
.menu>div>div>a{
    display: block;
    margin: auto;
    justify-content: center !important;
    font-family: Qatar22;
    font-size: 1em;
    color: #c99e53;
}
.menu div>div::before {
    content: "";
    position: absolute;
    bottom: -5px; /* Ajusta esta distancia según tus necesidades */
    left: 50%;
    transform: translateX(-50%);
    width: 0%; /* Ajusta el ancho de la línea según tus necesidades */
    height: 2px;
    background-color: #c99e53;
    margin-bottom: 5px;
    
}

.menu div>div:hover::before{
    transition: all 0.3s ease-in-out;
    width: 30%;
}

.Banner{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
body{
    background-image: url("../Images/Inicio/Fondo_Banner_2.png");
    background-position: center;
    background-size: 100vw;
    scroll-behavior: smooth;
}
.Confederaciones{
    text-align: center;
    position: relative;
}
.Boton_ver_mas{
    color: #680a4d;
    background: #c99e53;
    border: 1px #c99e53;
    font-size: 30px;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    font-family: Qatar22;
    font-weight: 600;
    padding: 0.5rem 1rem;
    margin: 0 auto;
    display: block;
    transition: 0.35s all;
    
    
}
.Boton_ver_mas:hover{
    color:#c99e53;
    border: 3px solid #c99e53;
    background: transparent;
    font-size: 30px;
}
html{
    scroll-behavior: smooth;
}
#confederaciones {
    background: var(--blanco);
    color: var(--negro);
}

#confederaciones>div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#confederaciones>div>div:last-child {
    grid-column: 2 / 3;
    grid-row: 3;
}

#confederaciones .logoConfederacion:hover {
    cursor: pointer;
}

#confederaciones>div>div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    margin: 20px 0;
}

#confederaciones>div>div img:hover {
    transition: .35s all;
    filter: brightness(1);
    transform: scale(1.05);
}

#confederaciones>div>div img {
    transition: .35s all;
    filter: brightness(.7);
    transform: scale(1);
}

#confederaciones>div>div img:hover+.nombreConfederacion {
    transition: .35s all;
    
    filter: opacity(1);
    /* transform: scale(1); */
}

#confederaciones .nombreConfederacion {
    transition: .35s all;
    filter: opacity(0);
    text-align: center;
    font-family: Qatar22;
    background: linear-gradient(186deg, #f4c05b 0%, #af6c37 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    /* transform: scale(0.01);
    transform-origin: center; */
}
a{
    text-decoration: none;
}
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
#hero>div {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#hero h1,
#hero h2 {
    margin: 0;
    text-transform: uppercase;
    /* text-shadow: 15px 15px 15px rgba(0, 0, 0, .5); */
    background: linear-gradient(186deg, #f4c05b 0%, #af6c37 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;

}

#hero h1 {
    font-size: 40px;
}

#hero h2 {
    font-size: 20px;
}
img {
    display: block;
    margin: auto;
}
footer h3{
    color: #d09548;
}

